*{
    background: #eee;
    /* height: 100vh; */
    color: #37352F;
}
.home{
    height: 80vh;
}
.n{
    /* background: red; */
    display: flex;
    font-size: 3rem;
    justify-content: space-between;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 2.5vh;
    align-items: center;
    font-family: sans-serif;
}
.n .img{
    box-shadow: 2px 2px 4px 0px #BEBEBE inset, -2px -2px 4px 0px #FFF inset;
    height: 7vh;
    border-radius: 20px;
    width: 5vh;
    background: #E0E0E0;
}
.img img{
  height: 7vh;
}
.container{
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 85vw;
    height: 18vh;
    border-radius: 20px;
    background: #eee;
    box-shadow: 8px 8px 8px #cbced1,
    -8px -8px 8px #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.two{
    height: 17vh;
    width: 2vw;
    border-radius: 6px;
    stroke: rgba(55, 53, 47, 0.01);

box-shadow: 2px 2px 4px 0px #BEBEBE inset, -2px -2px 4px 0px #FFF inset;
}
.one{
    width: 41vw;
    /* margin-top: -3.9vh; */
}
.one .one1{
    font-size: 1.5rem;
    padding-left: 3vw;
}
.one .one2{
      padding-top: 2vh;
      padding-left: 3vw;
      font-size: 1rem;
}   
.one .one3{
    font-size: 1rem;
    padding-left: 3vw;
}
.three{
    /* margin-top: -3vh; */
    width: 41vw; 
    font-family: sans-serif;
    /* background: red; */
    
}
.three1{
    font-size: 1rem;
    padding-left: 11.5vw;
    padding-bottom: .7vh;
}
.three2{
    padding-left: 14.5vw;
    font-size: 1rem;
    padding-bottom: .7vh;

}
.three3{
    font-size: 1rem;
    padding-left: 17vw;
    /* padding-bottom: 2vh; */
    margin-bottom: 1.5vh;
}
.button2{
    
    margin-left: 12vw;
    border-radius: 6px;
    background: #37352F;
    height: 3vh;
    border: none;
    width: 25vw;
    font-size: .8rem;
    color: #d7d7d7;
    font-family: sans-serif;
}
.button1{
    /* margin-top: 1vh; */
    margin-left: 3vw;
    border-radius: 6px;
    background: #37352F;
    height: 3vh;
    border: none;
    width: 25vw;
    font-size: .8rem;
    color: #d7d7d7;
    font-family: sans-serif;
}
button:hover{
    background-color: #63575737;
    color: black;
}

/* containe1  */
.container1{
    margin-top: 3vh;
    margin-bottom: 4vh;
    margin-left: 7.5vw;
    width: 70vw;
    height: 13vh;
    border-radius: 20px;
    background: #eee;
    padding-left: 3vw;
    padding-top: 3vw;
    box-shadow: 8px 8px 8px #cbced1,
    -8px -8px 8px #ffffff;
}
.container1 img{
    height: 40px;
    width: 40px;
    border-radius: 20%;
}
.container1 .nam{
    display: flex;
    margin-right: 5vw;

}
.container1 .nam p{
    padding-top: 1vh;
    padding-left: 2vw;
    font-size: 1.5rem;
    font-family: sans-serif;
}
.container1 .in{
    margin-right: 5vw;
    color: #868585;
    padding-top: .5vh;
    padding-bottom: .5vh;
    /* background-color: red; */
}
 .erow img{
    position: relative;
    height: 20px;
    top: 5vh;
    left: 5vw;
    /* padding-left: 30vw; */
}
.container2{
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 7.5vw;
    width: 70vw;
    height: 10.5vh;
    border-radius: 20px;
    background: #eee;
    padding-left: 3vw;
    padding-top: 3vw;
    box-shadow: 8px 8px 8px #cbced1,
    -8px -8px 8px #ffffff;
}
.container2 img{
    height: 40px;
    width: 40px;
    border-radius: 20%;
}
.container2 .nam{
    display: flex;
    margin-right: 5vw;

}
.container2 .nam p{
    padding-top: 1vh;
    padding-left: 2vw;
    font-size: 1.5rem;
    font-family: sans-serif;
}
.container2 .in{
    margin-right: 10vw;
    color: #868585;
    padding-top: .5vh;
    padding-bottom: .5vh;
}
.container3{
    margin-top: 3vh;
    margin-bottom: 4vh;
    margin-left: 7.5vw;
    width: 70vw;
    height: 10.5vh;
    border-radius: 20px;
    background: #eee;
    padding-left: 3vw;
    padding-top: 3vw;
    box-shadow: 8px 8px 8px #cbced1,
    -8px -8px 8px #ffffff;
}

.container3 img{
    height: 40px;
    width: 40px;
    border-radius: 20%;
}
.container3 .nam{
    display: flex;
    /* background: red; */
    margin-right: 5vw;
}
.container3 .nam p{
    padding-top: 1vh;
    padding-left: 2vw;
    font-size: 1.5rem;
    font-family: sans-serif;
}
.container3 .in{
    margin-right: 10vw;
    color: #868585;
    padding-top: .5vh;
    padding-bottom: .5vh;
}
