/* *{
    background: #eee;
} */
.log {
    /* height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; */
}

/* .panel {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 18px;
    background: var(--main-bg-color);
    box-shadow: -11px -11px 22px 0px var(--light-shadow),
        11px 11px 22px 0px var(--dark-shadow);
} */

input {
    /* border-radius: 50px;
    background: #eee;
    box-shadow: inset 8px 8px 8px #d9d9d9,
        inset -8px -8px 8px #ffff; */

    padding: 1rem 2rem;
    border: none;
    margin-bottom: 1em;


    color: #5B574E;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 13px;
    background: var(--main-bg-color);
    box-shadow: -5px -5px 10px 0px var(--light-shadow) inset,
        5px 5px 10px 0px var(--dark-shadow) inset;

}

button {
    /* border-radius: 50px;
    box-shadow: 8px 8px 8px #cbced1,
        -8px -8px 8px #ffffff; */
    border: none;
    padding: 0.5rem 3rem;

    color: #37352F;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.333px;

    border-radius: 9px;
    background: #E0E0E0;
    box-shadow: 4px 4px 8px 0px #BEBEBE, -4px -4px 8px 0px #FFF;
}

/* button:hover{
    background-color: #e4e4e4;
} */
/* 
img {
    width: 12rem;

}

h1 {

    color: #37352F;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: -0.333px;
} */